<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sample text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Sample text</h1>

    Sample HTML

    <table border=1>
    <% env | sort | while read LN
    do
      k=$(echo "$LN" | cut -d= -f1)
      v=$(echo "$LN" | cut -d= -f2-)
      [ -z "$k" ] && [ -z "$v" ] && continue
      echo '<tr>'
      echo "  <th align=\"left\">$k</th>"
      echo "  <td>$v</td>"
      echo '</tr>'
    done
    %>
    </table>
    <a href="<%= $SCRIPT_NAME${PATH_INFO:-}%>?edit=1">.</a>
  </body>
</html>
